<div class="historyNotTable" *ngFor="let item of arrWithObjTask" >{{item.taskValueToTable}} = {{item.answerValueToTable}}</div>
<button (click)="showOrHideHistoryTable()">Показать таблицей</button>
<div class="parentTableDiv" *ngIf="showOrHideTableHistory">
  <table>
    <tbody>
    <tr>
      <td>Time</td>
      <td>Task</td>
      <td>Answer</td>
    </tr>
    <tr *ngFor="let item of arrWithObjTask">
      <td>{{item.time}}</td>
      <td>{{item.taskValueToTable}}</td>
      <td>{{item.answerValueToTable}}</td>
    </tr>
    </tbody>
  </table>
</div>

