.historyNotTable {
  display: flex;
  justify-content: center;
}

//-------TABLE_____
.parentTableDiv {
  display: flex;
  justify-content: center;
}

table {
  display:flex;
  flex-direction: column;
  width: 500px;
  text-align: center;
  border: black solid 1px;
}

tbody {
  display: flex;
  flex-wrap: wrap;
}

tr {
  display: flex;
  flex: 0 1 100%;
}

td {
  flex: 0 1 33.333%;
  border: black solid 1px;
}

