<div class="parentDivOfNavigationOnPage">
  <div class="menuOnNavigation">>></div>
  <div class="buttonOnNavigation">
    <button (click)="buttonActiveHistory()" class="history">История</button>
    <button (click)="buttonActiveSchematic()" class="schematic">Схема</button>
    <button (click)="buttonActiveCalculate()" class="calculate">Калькулятор</button>
  </div>
  <div class="userMenu">
    <img (click)="menuActive=!menuActive" class="imgHeaderEmblem" alt="emblem" src="https://png.pngtree.com/element_our/20200610/ourmid/pngtree-character-default-avatar-image_2237203.jpg">
    <div *ngIf="menuActive" class="menu">
      <button class="menuButton">мой профиль</button>
      <button class="menuButton">поиск</button>
      <button class="menuButton">настройки</button>
      <button (click)="AuthorizationUsers(true)" class="menuButton">войти</button>
    </div>
  </div>
</div>

