<div class="parentDiv">
  <img class="imgHeaderEmblem" alt="emblem" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo08Mi3qmkDV2ivCx-Xt0vZL5LeLAPbVP2yA&usqp=CAU">
  <div>
    <ul>
      <li>
        <a href="app/template-body/header-history/header-history.component.html" class="history">history</a>
      </li>
      <li>
        <a href="app/template-body/header-schematic/header-schematic.component.html" class="schematic">schematic</a>
      </li>
      <li>
        <a href="app/template-body/template-body.component.html" class="any">calculate</a>
      </li>
    </ul>
  </div>
  <img class="imgOutButton" src="https://img2.freepng.ru/20180611/ffb/kisspng-door-closer-logo-brand-5b1f2f200d18a6.6099590515287703360537.jpg">
</div>
