<app-history-menu [answer]="objFromTaskAndAnswer.numberEnter" [task]="objFromTaskAndAnswer.answer"></app-history-menu>
<div class="navigationOnThisPage">Привет я твой персональный калькулятор!!</div>
<div>
  <div class="backgroundBodyNewCalculate">
    <div class="headerCalculate">Your new calculate))</div>
    <div class="inputWithButtonDelete">
      <input [(ngModel)]="objFromTaskAndAnswer.numberEnter" class="calculatorsScreen" type="text"/>
<!--      <button (click)="deleteLastSymbolInput()" class="deleteLastSymbolInput"><=</button>-->
    </div>
    <div class="buttonGroup">
      <button (click)="objFromTaskAndAnswer.numberEnter = ''" class="operatorsButtonDelete">C</button>
      <app-input-button [buttonText]="'('" (addSymbol)="addSymbol($event)" [buttonType]="'operatorButton'"></app-input-button>
      <app-input-button [buttonText]="')'" (addSymbol)="addSymbol($event)" [buttonType]="'operatorButton'"></app-input-button>
      <app-input-button [buttonText]="'/'" (addSymbol)="addSymbol($event)" [buttonType]="'operatorButton'"></app-input-button>
    </div>
    <div class="buttonGroup">
      <app-input-button [buttonText]="'7'" (addSymbol)="addSymbol($event)"></app-input-button>
      <app-input-button [buttonText]="'8'" (addSymbol)="addSymbol($event)"></app-input-button>
      <app-input-button [buttonText]="'9'" (addSymbol)="addSymbol($event)"></app-input-button>
      <app-input-button [buttonText]="'*'" (addSymbol)="addSymbol($event)" [buttonType]="'operatorButton'"></app-input-button>
    </div>
    <div class="buttonGroup">
      <app-input-button [buttonText]="'4'" (addSymbol)="addSymbol($event)"></app-input-button>
      <app-input-button [buttonText]="'5'" (addSymbol)="addSymbol($event)"></app-input-button>
      <app-input-button [buttonText]="'6'" (addSymbol)="addSymbol($event)"></app-input-button>
      <app-input-button [buttonText]="'-'" (addSymbol)="addSymbol($event)" [buttonType]="'operatorButton'"></app-input-button>
    </div>
    <div class="buttonGroup">
      <app-input-button [buttonText]="'1'" (addSymbol)="addSymbol($event)"></app-input-button>
      <app-input-button [buttonText]="'2'" (addSymbol)="addSymbol($event)"></app-input-button>
      <app-input-button [buttonText]="'3'" (addSymbol)="addSymbol($event)"></app-input-button>
      <app-input-button [buttonText]="'+'" (addSymbol)="addSymbol($event)" [buttonType]="'operatorButton'"></app-input-button>
    </div>
    <div class="buttonGroup">
      <app-input-button [buttonText]="'+/-'" (addSymbol)="addSymbol($event)" [buttonType]="'operatorButton'"></app-input-button>
      <app-input-button [buttonText]="'0'" (addSymbol)="addSymbol($event)"></app-input-button>
      <app-input-button [buttonText]="'.'" (addSymbol)="addSymbol($event)" [buttonType]="'operatorButton'"></app-input-button>
      <button (click)="calculate()" class="resultButton" >=</button>
    </div>
  </div>
</div>

