<div class="flexContainer">
<body>
  <app-template-body></app-template-body>
</body>
<!--<footer>-->
<!--  <div class="containerFooter">-->
<!--    <div class="contentFooter">-->
<!--      <div class="vk">-->
<!--        <img src="https://www.iguides.ru/upload/iblock/a97/a97a5cb533918c1815d007d248ce73a2.jpg" alt="picture">-->
<!--        <a href="#">vk.com</a>-->
<!--      </div>-->
<!--      <div class="twitter">-->
<!--        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDSVLHne-QnNwVLCT3o0NQ6o14gq_zIIpDYQ&usqp=CAU" alt="picture">-->
<!--        <a href="#">Twitter</a>-->
<!--      </div>-->
<!--      <div class="instagram">-->
<!--        <img src="https://thumbs.dreamstime.com/b/%D0%BB%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF-instagram-%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9-128373493.jpg" alt="picture">-->
<!--        <a href="#">Instagram</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
</div>
