<div class="menuHistoryCalculating" id="menu">
  <ng-content select="div">
  </ng-content>

  <div class="firstDivMenuClass">Your history</div>
  <div class="secondDivMenuClass">Your history</div>
  <div *ngIf="!condition; else templateWithHistory">Здесь будет твоя история</div>
  <ng-template #templateWithHistory>
    <div *ngFor="let item of arrWithContentExample">{{item.task + '=' + item.answer}}</div>
  </ng-template>
  <div>{{answer}}={{task}}</div>
  <button class="clearHistory" id="clearHistory" (click)="clearHistoryButton()">Clear History</button>
</div>
